# front-end/local/.env.local.example
NEXT_PUBLIC_BACKEND_URL=http://localhost:8000
NEXT_PUBLIC_GITHUB_OAUTH_CLIENT_ID=__GITHUB_OAUTH_CLIENT_ID__
NEXT_PUBLIC_GITLAB_OAUTH_CLIENT_ID=__GITLAB_OAUTH_CLIENT_ID__
